

/* basic css  */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #898282;
}

img{
    width: 250px;
}

/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: antiquewhite;
}

.navbar button{
    font-size: x-large;
    margin: 10px 0;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgb(225, 153, 59);
    border-radius: 15px;
}

.navbar button:hover{
    cursor: pointer;
    background-color: rgb(16, 29, 29);
    color: white;
}

.navbar a:hover{
    color: #898282;
    background-color: limegreen;
}

/* shop page */

.shopPage, .cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products{
    display: flex;
    flex-direction: row;
}

.product{
    border: solid black 1px;
    margin: 1rem;
    padding: 1rem;
    background-color: antiquewhite;
}

/* cart page */

.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#buyBtn{
    background-color: limegreen;
    color: white;
    border: none;
    padding: 1rem;
    font-size: x-large;
}

#clearBtn{
    background-color: red;
    color: white;
    border: none;
    padding: 1rem;
    font-size: x-large;
}

#buyBtn:hover, #clearBtn:hover{
    cursor: pointer;
    background-color: rgb(16, 29, 29);
}



